* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  color: #777;
}

body {
  background-color: antiquewhite;
}

.DashboardHomePage {
  padding-top: 150px;
  padding-left: 50px;
  padding-right: 50px;
}

.DashboardNavbar__Content {
  height: 60px;
  padding-top: 15px;
  text-align: center;
}

.DashboardNavbar__Content h2 {
  cursor: pointer;
}

.DashboardNavbar {
  background-color: white;
  box-shadow: 1px 1px 9px 1px black;
}